{{ define "main" }}
<h2>index</h2>
<div class="contents">
  {{ range first 10 .Site.RegularPages.ByDate.Reverse }}
  <a href={{ .Permalink }}>{{ .Name }}</a>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ .Name }}</h5>
      <p class="card-text">{{ .Date.Format "2006-01-02" }}</p>
      <a href={{ .Permalink }} class="btn btn-primary">記事を見る</a>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}